.footer-container
{
    height: 400px;
    width: 100%;
    background-color: navy;
    border-radius: 150px 0px 0px 0px;
    display: flex;
}
.savecow{
    margin : 50px 0px 0px 200px;
    color: white;
}
.footer-wrapper
{
    color: white;
    margin: 50px 0px 0px 150px;
    line-height: 30px;
   
}
.footer-social > p{
    color: white;
    margin: 20px 0px 0px 100px;
    

}
.footer-social:nth-child(1){
    margin-top: 100px;
}
.hospital{
    color: white;
    margin : 50px 0px 0px 100px;
    font-size: 30px;
}
.hospital_paragraph{
    color: white;
    /* font-size: 20px; */
    margin : 20px 0px 0px 150px;

}
.links{
    color: white;
    margin: 50px 0px 0px 150px;
    font-size: 30px;
}
.message{
    height: 30px;
    width: 30px;
   
}
paragraph{
    margin: 100px 0px 0px 200px;
    color: white;
}
.input-tag{
    background-color: navy;
    border: none;
    margin-top: -10px;
    color: white;
}
hr{
    border: 2px solid white;
    margin-left: 100px;
    margin-top: -0px;
}
.message{
    margin-left: 50px;
    color: white;
    margin-top: 50px;
    margin-left: 150px;
}
.News-Letter{
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: 30px;
    margin: 50px 0px 0px 150px ;
    
}
.social-media-images{
    display: flex;
}
.facebook{
    height: 50px;
    width: 50px;
    margin-left: 150px;
}
.whatsapp{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.phone{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.flext{
    display: flex;
}